<p>
  update-component works!
</p>


  <a routerLink='/'>Go back </a>
  
  <form id ="formNewProduct" name ="formNewProduct" #productData ="ngForm" 
  (ngSubmit)="updateProduct(productData.value)">
    <label>Name:</label><input type="text" name="name" id="name" placeholder="enter the name"   [(ngModel)]="data.name"  ngModel><br>
    <label>Color:</label><input type="text" name="color" id="color" placeholder="enter the color"  [(ngModel)]="data.color" ngModel><br>
    <input type="submit" value="UpdateData">
  </form>
  
  <br>
    <h3 *ngIf ='isAdded'>{{confirmationString}}</h3>